Scope parameter is not supported on an authorization code access_token exchange request

Hello here,

I have troubles with the exchange token step (the authorization step worked with no problem).

The request I send seems legit:
`https://backend/token?code=CODE&scope=openid%20profile&redirect_uri=example://oauth/callback&code_verifier=CODE_VERIFIER&grant_type=authorization_code` 

but I receive an error from the backend: 
`{
	"error_description": "Scope parameter is not supported on an authorization code access_token exchange request. Scope parameter should be supplied to the authorize request.",
	"error": "invalid_request"
}`

After reading the spec (http://openid.net/specs/openid-connect-basic-1_0.html) it looks like there is no mention about sending scopes with the code (2.1.6.1).

Is it possible to disable the sending of scopes on the code/token exchange step ?

Thanks for all.

You're right: [Section 4.1.3 of RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.1.3) does not describe `scope` as an optional or required parameter for the access token request (code exchange),  Thought it does for refreshing the refresh token in [Section 6](https://tools.ietf.org/html/rfc6749#section-6).