Issue while trying to get new valid token

Below is how I try to check for valid access token. If the token is invalid, I would need to get new one using refreshToken method.

However on trying this flow, I end up with error:
**Error fetching fresh tokens: invalid_grant**

Is this the correct way to get valid tokens?If yes, what does this error mean? If not, what should be the correct flow?

`//check for valid access token, refresh token if not valid
    func checkAuthorization(completionHandler:@escaping (String) -> Void){
        
        if((self.authState?.lastTokenResponse?.accessToken) != nil)
        {
            let expiresAt : Date = (self.authState?.lastTokenResponse?.accessTokenExpirationDate)!
            if(expiresAt.timeIntervalSinceNow < 60)
            {
                refreshTokens()
            }
            else{
                //Get User Info
                let api = CiamAPI()
                api.getUserInfo(token:(self.authState?.lastTokenResponse?.accessToken)!,apiCompletionHandler: {(userInfo) -> Void in
                    if(userInfo != nil)
                    {
                        let user : User! = CoreDataStack.sharedInstance.getUser(userInfo?.object(forKey: "sub") as! String)
                        user.email = userInfo?.object(forKey: "email") as? String
                        user.userid = (userInfo?.object(forKey: "sub") as! String)
                        currentUser = user
                        DispatchQueue.main.async(execute: {
                            CoreDataStack.sharedInstance.saveMainObjectContext()
                        })
                    }
                    completionHandler((self.authState?.lastTokenResponse?.idToken)!)
                }, failure: { (failureMessage) -> Void in
                        printMessage(failureMessage!)
                })
                    
            }
            
        }
    }`

+1 I am having the same problem. It appears that AppAuth is passing "Refresh_token" as the granttype to the authorisation server which seems to be incorrect. I am using the following code to generate the refresh token.

let additionalParams = [
            "grant_type":"authorization_code"
        ]
appDelegate.authState?.performAction(freshTokens: { (accessToken, idToken, error) in {},additionalParams)

@jainricha did you solve this issue?

You may need to include "offline_access" as a grant depending on your OAuth provider.

@john1452, according to [RFC 6749, Section 6](https://tools.ietf.org/html/rfc6749#section-6):
```
   grant_type
         REQUIRED.  Value MUST be set to "refresh_token".
```

This is what AppAuth passes in the token refresh with `performAction`:
https://github.com/openid/AppAuth-iOS/blob/43541338d5a28a2305564d37997aef9e647b4dfa/Source/OIDAuthState.m#L411

Perhaps some implementations require an `offline_access` scope to be able to refresh the token (this is not part of standard OAuth, but I've seen the pattern used before). I know that Google does not require this for native (non-Web) client types.

+1