Salesforce integration authorization choking on client info in header

I've been getting a 400 with an invalid client id error back from Salesforce while authorizing. The difference I could see between a POST which works and one from AppAuth was putting the client id/secret in the header vs putting in the body of the post.

So I modified OIDTokenRequest.m to stick the client id/secret into the body
```
    [bodyParameters addParameter:kClientIDKey value:_clientID];
    [bodyParameters addParameter:kClientSecretKey value:_clientSecret];
```
and suddenly everything works. From what I read putting the info into the header should be fine though. 

Is this an issue with AppAuth, my SaleForce oauth2 implementation or simply because I'm new at this and screwed something up?

Per [RFC 6749 Section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1):

> The authorization server MUST support the HTTP Basic
>    authentication scheme for authenticating clients that were issued a
>    client password

AppAuth uses HTTP Basic authentication to transmit the client credentials. It seems the authorization server you are using doesn't implement this requirement of RFC 6749.

Looks to me like the problem isn't at your end (or AppAuth's). If your workaround works, it seems reasonable to use (but note that we wouldn't add that code into AppAuth itself as it's not required by the RFC).

I figured this was going to be the answer but I'm fairly wet behind the ears with oauth2 so I wanted to confirm. 

While it does work with my code, I wrote it as a template for 3rd party developers using our authorization setup. I will go back to the server folks and get them to correct the issue. Thank you for the help and I am enjoying AppAuth so far. I look forward to continued use.