invalid_client error may return a 401 on token request and then return OIDOAuthTokenErrorDomain instead of OIDErrorCodeServerError

Referring to [RFC 6749 section 5.2](https://tools.ietf.org/html/rfc6749#section-5.2):

> The authorization server responds with an HTTP 400 (Bad Request) status code **(unless specified otherwise)**

For an `invalid_client` error it is specified that the server may return a 401, but actually AppAuth only generates an [OIDOAuthTokenErrorDomain error on 400 and 429 status code](https://github.com/openid/AppAuth-iOS/blob/master/Source/OIDAuthorizationService.m#L289-L325), OIDErrorCodeServerError otherwise.

So an `invalid_client` error with 401 will be considered as an `OIDErrorCodeServerError` error, but  I think it should be an OAuth error (`OIDOAuthTokenErrorDomain`).

I wonder if we should relax this condition to be any 4xx error?

I'm not sure about this, there might be some 4xx errors that do not mean it's an OAuth error related to authorization. Maybe we can also filter the error keys indicating an OAuth error?

What is android doing on their side?

The status 400 errors we handle today are not guaranteed to be an OAuth error related to authorization as it is – it could be another random error returning a 400. We are parsing all 400 and 429 status code responses to see if they match the OAuth error format (valid JSON with an "error" key basically) and if they don't, we return a generic error, so I don't see a big issue with attempting to parse _any_ 4xx error as an OAuth error.

AppAuth is designed to be extensible and work with other specifications which have the ability per RFC 6749 to define other error codes (presumably in the 4xx range, though this is not explicit), so perhaps the most flexible approach is to attempt to parse any 4xx error.

In any case, 401 should be included, I agree (if I interpret that section strictly, it seems 401 would only be returned for authentication scheme issues, and not other errors like unknown client – but whatever, no hard in formatting it nicely).

Sounds good.

I was just wondering if there is case where we can get an "error" key for a non OAuth error. But as you said this error key is part of the OAuth error format. So it should fine to relax the condition for accepting any 4xx errors.

It's certainly possible for a non-OAuth error to parse as an OAuth error, yet the only result of this would be to change how that error gets wrapped up by the API.  It's also possible _already_ for the server to return a non-OAuth error with a 400 code (including one that would parse as an OAuth error), so the change is merely expanding the range of response codes where this existing behavior could occur.

So I think it's OK.