Redirect URLs with Dynamic Ports

Several of the documentation guides and examples for the localhost http redirect mention just obtaining the Redirect URI (with the dynamic port that was used) and passing that to the provider. Okta and Auth0 both require you to specifically list the exact URL in the settings page. If the port can never be known beforehand, how can I configure my provider to use this feature? Currently I don't see a way for this feature to work without listing every single possible port in the allowed URLs section (e.g. ...,http://127.0.0.1:6000,http://127.0.0.1:6001,...). Obviously that's impractical; what am I missing? Is there a better way to set this up? Thanks!

So technically those providers should be allowing any port for this type of redirect, per [Section 7.3 of RFC 8252](https://tools.ietf.org/html/rfc8252#section-7.3):

>    The authorization server MUST allow any port to be specified at the
>    time of the request for loopback IP redirect URIs, to accommodate
>    clients that obtain an available ephemeral port from the operating
>    system at the time of the request.

I'd suggest asking that they fix their support of loopback/localhost redirects for native clients by implementing this 'MUST'.

A workaround would be to pick a random, high port that nobody else is using, and use it statically so you could register it. AppAuth doesn't directly support that, but it may not be much work for you to change.

Try adding `[_httpServ setPort:6000]` after this line:
https://github.com/openid/AppAuth-iOS/blob/65ef95c6b38c7889fdda7a22f242fa0156fd43b2/Source/macOS/OIDRedirectHTTPHandler.m#L73

Though I might pick a higher, more random looking port number.

@WilliamDenniss thank you so much for your quick response. I tried your suggestion, and that does work. Obviously there are issues with trying to use a static port that you can't _guaranteee_ will be available for the local http server, so I'll reach out to Okta and Auth0 about changing functionality on their side (to line up with the standard you posted from the RFC). Again, thanks for your help and your work on this project. 

#334 adds an API to support this too.

That is a great change, thank you! 